<!DOCTYPE html>
<html lang="PT-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTL Home</title>
    <link rel="stylesheet" th:href="@{css/index.css}">
    <script th:src="@{js/main.js}"></script>
</head>
<body>

    <h1>Behind The Lyrics</h1>

    <ul>
        <li>
            <a th:href="@{/musicas}">Músicas</a>
        </li>
        <li>
            <a th:href="@{/bandas}">Bandas</a>
        </li>
        <li>
            <a th:href="@{/addmusica}">Adicionar músicas</a>
        </li>

    </ul>
    
</body>
</html>